<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="icon" href="/img/icon.svg" >
    <link rel="stylesheet" href="/css/main.css">
    {{#each styles}}
    <link rel="stylesheet" href="{{css}}">
    {{/each}}
    {{#each htmlStyles}}
    <style>
        {{{css}}}
    </style>
    {{/each}}
</head>
<body>
    {{{body}}}
    {{#each scripts}}
    <script src="{{js}}"></script>
    {{/each}}
    {{!-- {{#each}}
    <script src="{{js}}"></script>
    {{/each}} --}}
</body>
</html>